<%= render "shared/page_title", title: "all recipes" %>


<% @recipes.each do |recipe| %>
<div class="row">
	<div class="col-md-2">
		<section class="center">
			<%= link_to gravatar_for(recipe.chef, size:70), "/" %>
			<p><small><br><%= link_to recipe.chef.chefname, "/"%><br>
			With us for:<br> <%= time_ago_in_words(recipe.chef.created_at) %></small></p>
		</section>
		
	</div>
	<div class="col-md-8 well">
		<h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
		<p><%= truncate(recipe.description.capitalize * 50, length: 150) %></p>
		<p class="quiet">
			<small>Created by: <%= link_to recipe.chef.chefname, "/"%> &ndash; <%= time_ago_in_words(recipe.created_at) %> ago.</small>
		</p>
		
	</div>
</div>
	
<% end %>